{{mr-tester}}

{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each items as |item|}}
      {{#paper-item class="md-3-line"}}
        <img src="http://www.bungie.net{{item.icon}}" alt={{item.itemName}} class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{item.itemName}}</h3>
          <h4>{{item.itemDescription}}</h4>
        </div>
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

<div class="layout-row">
  {{#if (gt page 0)}}
    {{#paper-button primary=true onClick=(action "prev_page")}}Prev Page{{/paper-button}}
  {{/if}}

  {{#paper-button onClick=(action "next_page")}}Next Page{{/paper-button}}
</div>
